@using System.ComponentModel.DataAnnotations
@inherits LayoutComponentBase
@using RestSharp
@using ValorantManager.Data
@using System.Net;
@using System.Web;
@using ValorantManager.JsonModels;
@using ValorantManager.Shared;
@using ValorantManager.Util;
@using Microsoft.AspNetCore.WebUtilities
@using System.Text;
@using System.Text.RegularExpressions;
@inject ValorantService valService
@inject NavigationManager NavManager
@inject ICookie cookie
@page "/"

<PageTitle>Pro Swapper Valorant</PageTitle>

<h1>Welcome to Pro Swapper Valorant</h1>
<h6 class="alert alert-success" role="alert">
    Note: We do NOT store any user information such as usernames, passwords or tokens. Riot Games emails the inbox with a one time password when changing passwords so we cannot change your password.
</h6>

@if (valService.user.loginState == LoginState.LoggedOut || valService.user.loginState == LoginState.WrongLogin)
{
    <p>Please choose your login method:</p>


    @if (loginType != LoginType.UserPass)
    {
        <button class="btn btn-primary" @onclick="() => SetLoginType(LoginType.UserPass)">Login with Username & Password</button>
        <br />
        <br />
    }

    @if (loginType != LoginType.Token)
    {
        <button class="btn btn-primary" @onclick="() => SetLoginType(LoginType.Token)">Login with Token</button>
        <br />
        <br />
    }


    @if (loginType == LoginType.Token)
    {
        <p>Please login via your Valorant Token. Learn <a target="_blank" href="https://github.com/Pro-Swapper/ValorantGuide/blob/main/GettingToken.md">here</a> to get your Valorant token.</p>
        <label class="font-weight-bold">Valorant Account Token:</label>
        <EditForm Model="@valService.user">
            <InputText class="form-control" style="width:30vw" @bind-Value="valService.user.Token" placeholder="xxxx" />
        </EditForm>
    }


    @if (loginType == LoginType.UserPass)
    {
        @if (Show2FAInput)
        {
            <EditForm Model="@Code2FA">
                <label class="font-weight-bold">Please check your email for your 2FA code.</label>
                <br>
                <br>
                <label class="font-weight-bold">2FA Code:</label>
                <InputText class="form-control" style="width:30vw" @bind-Value="Code2FA" placeholder="000000" />
            </EditForm>
        }
        else
        {
            <EditForm Model="@valService.user">
                <label class="font-weight-bold">Valorant Account Login:</label>
                <InputText class="form-control" style="width:30vw" @bind-Value="valService.user.auth_username" placeholder="Username" />
                <br>
                <InputText type="password" class="form-control" style="width:30vw" @bind-Value="valService.user.auth_password" placeholder="Password" />
            </EditForm>
        }
    }


    <EditForm Model="@valService.user">
        <br />
        <label class="font-weight-bold">Select your region (Optional):</label>
        <br />
        <div class="row-cols-6">
            <InputSelect @bind-Value="valService.user.region">
                @foreach (var value in Enum.GetValues(typeof(Regions)))
                {
                <option>@value</option>
                }
        </InputSelect>
    </div>
</EditForm>
    @if (valService.user.Token != "rate_limited")
    {
        @if (!Show2FAInput)
        {
            <br />
            <button class="btn btn-primary" @onclick="LoginButton">Login</button>
            <br />
        }
        else
        {
            <br />
            <button class="btn btn-primary" @onclick="Submit2FA">Submit 2FA Code</button>
            <br />
        }
    }

    @if (valService.user.loginState == LoginState.WrongLogin && loginType == LoginType.Token)
    {
        <div class="alert alert-danger" role="alert" style="width:60vw; word-break:break-word">That token is invalid! Tokens expire after 1 hour.</div>
    }
    @if (valService.user.loginState == LoginState.WrongLogin && loginType == LoginType.UserPass && !Show2FAInput)
    {
        <div class="alert alert-danger" role="alert" style="width:60vw; word-break:break-word">That username and/or password is incorrect! Make sure that you are entering your Riot username and NOT your Riot ID with the #. If you do not know your Riot Username you can request it with your email <a href="https://recovery.riotgames.com/en/forgot-username">here</a></div>
    }
    @if (valService.user.loginState == LoginState.WrongLogin && loginType == LoginType.UserPass && Show2FAInput)
    {
        <div class="alert alert-danger" role="alert" style="width:60vw; word-break:break-word">That 2FA code is incorrect!</div>
    }
    @if (valService.user.Token == "rate_limited")
    {
        <div class="alert alert-danger" role="alert" style="width:60vw; word-break:break-word">You have tried to login too many times! Try again later. (Error: Rate Limited)</div>
    }
}




@if (valService.user.loginState == LoginState.LoggingIn)
{
    <strong>Logging in...</strong>
    <div class="spinner-border text-danger" role="status">
    </div>
}

@if (valService.user.loginState == LoginState.LoggedIn)
{
    <label class="col-2 font-weight-bold">Welcome @valService.user.Name</label>
}


<br />
<br />
<br />
<hr />
<h2>News</h2>
<br />

@if (News_Instance != null)
{
    <div class="card-group">
        @foreach (var item in News_Instance.Result.Data.AllContentstackArticles.Nodes.Take(8).ToList())
        {
            <div class="col-sm-3">
                <div class="card text-white m-1 text-center" style="background:#484848">
                    <div class="card-header text-center" style="font-size:medium;height:60px">@item.Title</div>
                    <div class="card-body text-center align-content-center">
                        <a href="@GetNewsURL(item)" target="_blank">
                            <img class="card-img-top mx-auto" src="@item.Banner.Url" style="width: 100%;height:100%; object-fit:fill">
                        </a>
                    </div>
                    <div class="card-footer text-muted">@GetTimeSince(item.Date)</div>
                </div>
            </div>
        }
    </div>
}
<br />

<hr />
<br />
<h3><strong>Upcoming Features</strong></h3>
<p class="text">
    View Night Market<br />
    Skin + Gun Buddy Presets<br />
    See all own cosmetics<br />
    Select any spray for mid round<br />
    Gun Skin + Buddy Randomizer
</p>

<div style="position: relative;"><img src="https://publisher.linkvertise.com/cdn/ads/LV-468x60/Unbendgfannt-1.jpg" frameborder="0" height="60" width="468"><a href="https://publisher.linkvertise.com/ac/86737" target="_blank" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></a></div>


@if (LastError != null)
{
    @LastError.Message
    <br />
    @LastError.Source
    <br />
    @LastError.StackTrace
    <br />
    <br />
    <br />
    <br />
    <br />
    @Loginresponse
}

<footer style="position:fixed; right:0px; bottom:0px;">
    <div class="list-group-item text-break" style="font-size:small;background:#c62828;color:white;width:40vw;border-radius:13px">We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with VALORANT or Riot Games, Inc.</div>
</footer>

@code {

    private const string SplitKey = "kdsjakDASD77a8dAHSDUASHDA787KAODASD*as7dasdhASD";
    private Exception LastError = null;
    private string Loginresponse = "";

    public static News.Root News_Instance { get; set; } = null;

    enum LoginType
    {
        None,
        UserPass,
        Token
    }
    LoginType loginType = LoginType.UserPass;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        News_Instance = JsonSerializer.Deserialize<News.Root>(new WebClient().DownloadString("https://playvalorant.com/page-data/en-us/news/page-data.json"));
        bool PreLogin = false;
        string URLToken = string.Empty;
        string CookieToken = string.Empty;
        if (QueryHelpers.ParseQuery(NavManager.ToAbsoluteUri(NavManager.Uri).Query).TryGetValue("token", out var OutToken))
        {
            PreLogin = true;
            URLToken = Convert.ToString(OutToken);
        }
        else
        {
            CookieToken = await cookie.GetValue("data");
            PreLogin = CookieToken.Length > 1;
        }



        if (PreLogin && firstRender && valService.user.loginState != LoginState.LoggedIn)
        {
            valService.user.loginState = LoginState.LoggingIn;
            await InvokeAsync(StateHasChanged);
            StateHasChanged();


            //Methods for logging in
            if (URLToken.Length > 1)
            {
                valService.user.Token = URLToken;
                loginType = LoginType.Token;
            }
            else if (CookieToken.Length > 1)
            {
                string[] decoded = CookieToken.Base64Decode().Split(new string[] { SplitKey }, StringSplitOptions.None);
                valService.user.auth_username = decoded[0];
                valService.user.auth_password = decoded[1];

                if (decoded.Length > 2)
                {
                    Enum.TryParse(decoded[2], out Regions lastRegion);
                    valService.user.cookie_region = lastRegion;
                }

                loginType = LoginType.UserPass;
            }
            await InvokeAsync(StateHasChanged);
            await Task.Run(() => LoginButton());
        }
    }






    private async Task SetLoginType(LoginType loginT)
    {
        loginType = loginT;
        valService.user.loginState = LoginState.LoggedOut;

        await InvokeAsync(StateHasChanged);
    }


    private bool Show2FAInput = false;
    private string Code2FA = "";
    private CookieContainer cookiejar = new CookieContainer();
    public string Login(string username, string password)
    {
        UserPassLogin.GetAuthorization(cookiejar);

        string loginResponse = UserPassLogin.Authenticate(cookiejar, username, password);
        Loginresponse += loginResponse;
        var authJson = JsonSerializer.Deserialize<JsonElement>(loginResponse);
        if (loginResponse.Contains("rate_limited"))
        {
            return "rate_limited";
        }

        string LoginType = authJson.GetProperty("type").ToString();
        switch (LoginType)
        {
            case "response"://Normal username & password login
                string authURL = authJson.GetProperty("response").GetProperty("parameters").GetProperty("uri").GetString();
                return Regex.Match(authURL, @"access_token=(.+?)&scope=").Groups[1].Value;
            case "multifactor"://2FA login
                Show2FAInput = true;
                InvokeAsync(StateHasChanged);
                break;
        }
        return null;
    }

    public async Task Submit2FA()
    {
        try
        {
            string auth2FAURL = UserPassLogin.MultifactorCode(Code2FA, cookiejar).GetProperty("response").GetProperty("parameters").GetProperty("uri").GetString();
            string token = Regex.Match(auth2FAURL, @"access_token=(.+?)&scope=").Groups[1].Value;
            valService.user.Token = token;
            await Task.Run(() => valService.Login());
            if (loginType == LoginType.UserPass)
                await cookie.SetValue("data", (valService.user.auth_username + SplitKey + valService.user.auth_password + SplitKey + valService.user.region).Base64Encode(), 365);
        }
        catch
        {
            valService.user.loginState = LoginState.WrongLogin;
            await InvokeAsync(StateHasChanged);
        }
    }


    private async Task LoginButton()
    {
        try
        {
            valService.user.loginState = LoginState.LoggingIn;
            if (loginType == LoginType.UserPass)
                valService.user.Token = Login(valService.user.auth_username, valService.user.auth_password);

            if (valService.user.Token == null)
            {
                valService.user.loginState = LoginState.LoggedOut;
                await InvokeAsync(StateHasChanged);
                return;
            }
            if (valService.user.Token == "rate_limited")
            {
                valService.user.loginState = LoginState.LoggedOut;
                await InvokeAsync(StateHasChanged);
                return;
            }

            await Task.Run(() => valService.Login());
            if (loginType == LoginType.UserPass)
                await cookie.SetValue("data", (valService.user.auth_username + SplitKey + valService.user.auth_password + SplitKey + valService.user.region).Base64Encode(), 365);
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)

        {
            valService.user.loginState = LoginState.WrongLogin;
            await InvokeAsync(StateHasChanged);
            await cookie.SetValue("data", string.Empty, 0);
            LastError = ex;
        }

    }

    private static string GetNewsURL(JsonModels.News.Node item)
    {
        if (item.ExternalLink.Length > 0)
        {
            return item.ExternalLink;
        }
        else
        {
            return $"https://playvalorant.com/en-us{@item.Url.url}";
        }
    }

    private static string GetTimeSince(DateTime date) => ToReadableString(DateTime.Now.ToUniversalTime() - date);

    public static string ToReadableString(TimeSpan span)
    {
        if (span.TotalHours < 24)
            return Math.Round(span.TotalHours) + " hours ago";
        else
            return Math.Round(span.TotalDays) + " days ago";
    }
}