@page "/profile"
@using QRCoder
@using System.Drawing;
@using System.Drawing.Imaging;
@using ValorantManager.Data
@using ValorantManager.JsonModels;
@using Microsoft.AspNetCore.Components;
@using static QRCoder.PayloadGenerator
@inject NavigationManager NavManager

<PageTitle>Profile | @ValorantService.user_s.Name</PageTitle>

@if (ValorantService.user_s.loginState == LoginState.LoggedIn)
{
    <h1>@ValorantService.user_s.Name's Profile</h1>
    <p class="text-start text-wrap" style="width:80vw">
        User Information:<br />
        Account ID: @ValorantService.user_s.puuid <br />
        Account Created On: @ValorantService.GetAccountCreationDate(ValorantService.user_s.CreationDate) (UTC) <br>
        Valorant Points: @ValorantService.user_s.wallet.Balances.ValorantPoints <br />
        Radianite: @ValorantService.user_s.wallet.Balances.Radianite <br />
        Region: @ValorantService.user_s.region <br />
        <br>
        <ul class="list-group text-break" style="background:#484848;width:80vw">
            <p class="text-left" style="padding-left:5px">Current Token:</p>
            <li class="list-group-item kye_secret" style="background:#484848">@ValorantService.user_s.Token</li>
            <p class="text-left" style="padding-left:5px">Current Entitlement:</p>
            <li class="list-group-item kye_secret" style="background:#484848">@ValorantService.user_s.Entitlement</li>
        </ul>

    </p>
    <button type="button" class="btn btn-primary" @onclick="@GetQRCode">Get QR Code to login to Pro Swapper Valorant on mobile</button>
    @if (QRCode != null)
    {
        <p>
            Log into Pro Swapper Valorant on mobile using the QR code below
        </p>
        <img src="@QRCode" style="height:300px; width:300px" />
    }
}

<br />
<br />
<br />
<div style="position: relative;"><img src="https://publisher.linkvertise.com/cdn/ads/LV-468x60/Unbendgfannt-1.jpg" frameborder="0" height="60" width="468"><a href="https://publisher.linkvertise.com/ac/86737" target="_blank" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;"></a></div>

@code {


    protected override void OnInitialized()
    {
        if (ValorantService.user_s.loginState == LoginState.LoggedIn)
        {
            if (ValorantService.user_s.wallet == null)
                ValorantService.user_s.wallet = ValorantService.Store_GetWallet();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (ValorantService.user_s.loginState != LoginState.LoggedIn)
            NavManager.NavigateTo("/");
    }

    private string QRCode { get; set; } = null;

    private void GetQRCode()
    {
        if (QRCode != null)
        {
            return;
        }
        Url generator = new Url(NavManager.BaseUri + "?token=" + ValorantService.user_s.Token);
        string payload = generator.ToString();

        QRCodeGenerator qrGenerator = new QRCodeGenerator();
        QRCodeData qrCodeData = qrGenerator.CreateQrCode(payload, QRCodeGenerator.ECCLevel.Q);
        QRCode qrCode = new QRCode(qrCodeData);
        Bitmap qrCodeAsBitmap = qrCode.GetGraphic(50);

        System.IO.MemoryStream ms = new MemoryStream();
        qrCodeAsBitmap.Save(ms, ImageFormat.Jpeg);
        byte[] byteImage = ms.ToArray();
        var SigBase64 = Convert.ToBase64String(byteImage); // Get Base64
        QRCode = "data:image/png;base64, " + SigBase64;
        StateHasChanged();
    }
    }


<style>

    .kye_secret:hover {
        color: white;
        text-shadow: 0 0 0px rgba(0,0,0,0);
    }

    .kye_secret {
        color: transparent;
        text-shadow: 0 0 5px rgba(255,255,255,0.2);
    }

</style>
